@{
    ViewBag.Title = "RAD";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 500px;
            margin: 0 auto
        }
    </style>
</head>


<body>
    <center>
        <h1><img src="~/Content/mytemplate/img/faces/admissionsicon.png" style="width:60px; height:60px;" />RECRUITMENT AND ADMISSIONS</h1>
        <script src="~/Scripts/code/highcharts.js"></script>
        <script src="~/Scripts/code/modules/series-label.js"></script>
        <script src="~/Scripts/code/modules/exporting.js"></script>

        <div id="container"></div>

        <script type="text/javascript">
            Highcharts.setOptions({
                colors: ['rgb(62, 194, 207)', 'rgb(241, 96, 74)', '#BCC65C', '#FBAE3B']
            });

            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                },
                title: {
                    text: 'RAD',
                    align: 'center',
                    verticalAlign: 'middle',
                    y: 40
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        dataLabels: {
                            enabled: true,
                            distance: -50,
                            style: {
                                fontWeight: 'bold',
                                color: 'white'
                            }
                        },
                        startAngle: -90,
                        endAngle: 90,
                        center: ['50%', '75%']
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    innerSize: '50%',
                    data: [
                        ['Applications to Jacksonville', 10.38],
                        ['Number of Offers', 56.33],
                        ['Number of Confirmations', 24.03],

                        {
                            name: 'Proprietary or Undetectable',
                            y: 0.2,
                            dataLabels: {
                                enabled: false
                            }
                        }
                    ]
                }]
            });


        </script>
        </center>
</body>
</html>
